@page "/superheroes"
@inject ISuperHeroService SuperHeroService

<PageTitle>Superheroes</PageTitle>

<h3>Superheroes</h3>

<table>
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Hero Name</th>
            <th>Comic</th>
        </tr>
    </thead>
    <tbody>

    </tbody>




</table>

@code {

}
