@page "/superheroespage"

@inject ISuperHeroService SuperHeroService

<PageTitle>Superheroes</PageTitle>

<h3>Superheroes</h3>

<table class="table table-striped mt-5">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Hero Name</th>
            <th>Comic</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hero in SuperHeroService.Heroes)
        {
        <tr>
            <td>@hero.FirstName</td>
            <td>@hero.LastName</td>
            <td>@hero.HeroName</td>
            <td>@hero.Comic.Name</td>
        </tr>
        }
    </tbody>
</table>

@code {      
    protected override async Task OnInitializedAsync()
    {
        await SuperHeroService.GetSuperHeroes();
    }





}
